# Root folder files
include MANIFEST.in
include README.md
include CHANGELOG.md
include LICENSE
include REFERENCES.md

# Sphinx documentation folder
recursive-include doc *.rst conf.py Makefile make.bat *.png
prune doc/build

# Examples folder
recursive-include examples *.md
